body{
    background-color: #759cd8;
}
#h1_nannestad{
    color: white;
    background-color: #094d74;
}
h2{
    color: white;
    background-color: #094d74;
    text-align: center;
}
#Nannestad_Images{
    background-color: #759cd8;
    text-align: center; 
}
#Nannestad_Images img {
    display: inline-block; 
    margin: 0 auto; 
}
.mapouter{
    display: inline-block; 
    margin: 0 auto; 
    text-align: center;
}
#Copyright{
    background-color: #094d74;
    color: white;
    width: 100%;
    height: 100%;
}

